body {
  margin: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a7c1a7;
  padding: 25px 15px 0;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.title {
  text-align: center;
  margin: 0 0 25px;
}

.custom_input {
  border: none;
  border-bottom: 2px solid #000;
  background-color: transparent;
  font-size: 22px;
  padding: 5px 10px;
  display: block;
  width: 100%;
  max-width: 800px;
  outline: none;
  font-family: 'Merriweather', serif;
}

.custom_button {
  border-radius: 0;
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  padding: 8px 15px;
  line-height: 1;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  cursor: pointer;
  transition: all .2s ease-in-out;
  outline: none;
}

.custom_button:hover {
  background-color: transparent;
  color: #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

/* Image cleaner */

#image_cleaner_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification_block {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, .3);
  border-radius: 2px;
  color: #000;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  transition: all .5s ease-in-out;
}

.notification_block.show {
  animation: showHideNotification;
  animation-duration: 6s;
  animation-iteration-count: 1;
}

@keyframes showHideNotification {
  10% {
    top: 30px;
  }

  70% {
    top: 30px;
  }

  100% {
    top: -100%;
  }
}

.ic_search_block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ic_search_btn {
  margin-left: 20px;
}

.ic_trashlist_block {
  margin-top: 30px;
  padding: 10px;
  max-width: 1000px;
  width: calc(100% - 20px);
  border: 1px solid #000;
  font-size: 13px;
  font-family: "Consolas", sans-serif;
  transition: all .5s ease-in-out;
  height: 20px;
}

.ic_trashlist_block.animation:empty:before {
  animation: shakeshakeshake;
  animation-duration: .5s;
  animation-iteration-count: 1;
}

@keyframes shakeshakeshake {
  20% {
    transform: translateX(10px);
  }

  40% {
    transform: translateX(-10px);
  }

  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

.ic_trashlist_block:empty:before {
  content: 'There\'s nothing to delete ¯\\_(ツ)_/¯';
  text-align: center;
  display: block;
}

.ic_trashlist_block.opened {
  overflow: scroll;
  height: 250px;
}

.ic_confim_delete_block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.ic_confim_delete_block p {
  font-weight: 400;
  color: #000;
  margin: 0;
}

.ic_confirm_btn {
  margin-left: 20px;
}

@media(max-width: 500px) {
  .ic_search_block,
  .ic_confim_delete_block {
    flex-wrap: wrap;
  }

  .ic_search_btn,
  .ic_confirm_btn {
    margin-left: 0;
    margin-top: 25px;
  }

  .custom_input {
    font-size: 14px;
  }

  .ic_confim_delete_block p {
    text-align: center;
  }
}

/* End of Image cleaner */